%table.table
  %thead.thead-inverse.table-hover
    %tr
      %th Identifier
      %th Description
      %th Price
      %th Notes
      %th

  %tbody
    - @items.each do |item|
      %tr{class: ('unavailable' unless item.available?)}
        %td= item.identifier
        %td= item.description
        %td= number_to_currency item.price
        %td= item.notes
        %td= link_to 'Details', item
