%table.table
  %thead.thead-inverse.table-hover
    %tr
      %th Identifier
      %th Description
      %th Price
      %th Notes
      %th

  %tbody
    - @items.each do |item|
      %tr{class: ('unavailable' unless item.available?)}
        %td= item.identifier
        %td= item.description
        %td= number_to_currency item.price
        %td= item.notes
        %td
          %ul.list-inline
            %li.list-inline-item
              = link_to item do
                %i.fa.fa-info-circle
            %li.list-inline-item
              = link_to item.retail_url do
                %i.fa.fa-external-link
