%table.table
  %thead.thead-inverse.table-hover
    %tr
      %th Identifier
      %th Description
      %th Retail price
      %th Price
      %th Notes
      %th Retail url
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.identifier
        %td= item.description
        %td= item.retail_price
        %td= item.price
        %td= item.notes
        %td= item.retail_url
        %td= link_to 'Show', item

