= render @item.category.announcements

%ol.breadcrumb
  %li= link_to "Home", root_url
  %li= link_to @item.category.name, @item.category
  %li.active= @item.description

.container
  .row
    .col-md-12
      %h1
        %span.label.label-default= @item.identifier
        = @item.description

  .row.m-t-2
    .col-md-6
      .row
        .col-md-12
          %table
            - if @item.retail_price
              %tr
                %th.text-xs-right Retail Price:&nbsp;
                %td
                  %s= number_to_currency @item.retail_price
            %tr
              %th.text-xs-right Price:&nbsp;
              %td.text-danger.font-weight-bold.price
                = number_to_currency @item.price
            - if @item.retail_price
              %tr
                %th.text-xs-right You Save:&nbsp;
                %td.text-danger
                  = number_to_currency price_savings(@item.retail_price, @item.price)
                  (
                  = number_to_percentage(price_savings_percentage(@item.retail_price, @item.price), precision: 0)
                  )

      .row.m-t-2
        .col-md-12
          %dl
            %dt Notes
            %dd
              = simple_format @item.notes

      .row.m-t-2
        = mail_to "info+sale-question@circlecitysc.com", "Ask Question", subject: "Question: #{@item.identifier} - #{@item.description}", body: "\n\n\n\n#{@item.identifier} - #{@item.description}: #{item_url(@item)}", class: 'btn btn-primary'


    .col-md-6
      - if @item.images.empty?
        = image_tag 'no-image.png', class: 'img-fluid img-thumbnail'
      - else
        - @item.images.each do |image|
          = image_tag image.url, class: 'img-fluid img-thumbnail'
