%h3{id: category.name.parameterize }= category.name

%table.table.table-sm.table-striped
  %thead.thead-inverse.table-hover
    %tr
      %th Identifier
      %th Description
      %th Price
      %th

  %tbody
    - category.items.available.order(identifier: :asc).each do |item|
      %tr{class: ('unavailable' unless item.available?)}
        %td= item.identifier
        %td= item.description
        %td= number_to_currency item.price
        %td
          = link_to item do
            %i.fa.fa-info-circle
            Details

