!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{"http-equiv" => "x-ua-compatible", :content => "ie=edge"}
    %title CCS&C Garage Sale
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .pos-f-t
      %nav.navbar.navbar-light.bg-faded.navbar-fixed-top
        %ul.nav.navbar-nav
          %li.nav-item.active
            = link_to root_url, class: 'nav-link' do
              All
              %span.sr-only (current)
          - Category.all.each do |category|
            %li.nav-item
              = link_to category.name, category_url(category), class: 'nav-link'
          %li.nav-item.pull-xs-right
            = link_to "FAQ", faq_url, class: 'nav-link'

    .container
      .row
        = render Announcement.global
      .row
        = yield
